[submodule "themes/hugo-initio"]
	path = themes/hugo-initio
	url = https://github.com/miguelsimoni/hugo-initio.git
[submodule "src/themes/hugo-coder"]
	path = src/themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
